.Logo{
   padding-left: 100px; 
}
.index-video video {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   object-fit: cover;
   width: 100%;
   height: 100%;
   z-index: -1;
}

.h100 {
   height: 100vh;
}
.fz16 {
   font-size: 18px;
}
.uk-dropdown {
   border-radius: 8px;
}
.uk-offcanvas-bar {
   width: 100%;
}
.social-icon {
   transition: all .2s ease;
}
.social-icon:hover {
   filter: brightness(80%);
   transform: scale(1.1);
}
.content{
   padding-top: 250px;
}
.uk-navbar-nav>li>a {
   color: #fff;
}
.block:hover {
   -webkit-transform: scale(1.2,1.2);
   -webkit-transition-timing-function: ease-out;
   -webkit-transition-duration: 550ms;
   -moz-transform: scale(1.2,1.2);
   -moz-transition-timing-function: ease-out;
   -moz-transition-duration: 550ms;
}
.fix-button{
   padding-right: 140px;
   padding-left: 140px;
}
.foot {
   padding-top: 320px;
}
p {
   color: white;
}
.link {
   color: rgb(78, 78, 78);
}
.footer {
   display: flex;
   justify-content: space-between;
}
@media screen and (max-width: 640px) {
   .footer {
      display: block;
   }
   .footer p {
      margin-bottom: 8px;
      text-align: center;
   }
}
@media screen and (max-width: 640px) {
   .social-icon img {
      width: 64px;
      height: 64px;
   }
}

@media screen and (max-width: 640px) {
   .uk-navbar-nav>li>a {
      padding: 0;
   }
}

@media screen and (max-width: 960px) {
   .social-icon img {
      width: 96px;
      height: 96px;
   }
}
.s img {
width: 50px;
padding-left: 10px;
padding-right: 10px;
}
.backblack {
   background-color: black; 
}
.p-up {

width: 67px;
height: 20px;
left: 952px;
top: 40px;

/* p */
font-style: normal;
font-weight: 500;
/* identical to box height */

color: #FFFFFF;
}
.p40 {
   padding-right: 40px; 
}
.p-up2 {
   left: 952px;
   top: 40px;
   
   /* p */
   font-style: normal;
   font-weight: 500;
   /* identical to box height */
   
   color: #FFFFFF;
   }
   
.line {
position: absolute;
width: 1920px;
height: 0px;
left: 0px;
top: 80px;

opacity: 0.5;
border: 0.5px solid #A1A1A1;
}

.line2 {
position: absolute;
width: 107px;
height: 0px;
left: 932px;
top: 99px;

border: 2px solid #FFF
}

.pos {
   ;
}